body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  border: solid 1px black;
}

/* aside = partie gauche du CV */

aside {
  width: 30%;
  background-color: #273c75;
  display: flex;
  flex-direction: column;
}

#photo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profil_pic {
  border: solid 1px white;
  border-radius: 50%;
}

aside h2 {
  border-bottom: solid 1px #e84118;
  background-color: white;
  color: #273c75;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

aside p {
  color: white;
}

.cellule_aside {
  padding: 20px;
}

#a_propos {
  flex: 3;
}

.icones_loisirs {
  display: flex;
  font-size: 200%;
  color: white;
  justify-content: space-between;
  padding: 40px;
}

/* section = partie droite du CV */

section {
  width: 70%;
  padding: 40px;
  color: #273c75;
}

/* entete */

.first_name {
  color: #e84118;
}
.last_name {
  font-size: 1.5em;
}

/* formation */

.titre_article {
  display: flex;
  padding: 30px 0 10px 0;
}

.infos_article {
  display: flex;
}

.infos_article_reco {
  display: flex;
  justify-content: space-around;
}

.big_icon {
  width: 10%;
  font-size: xx-large;
  margin: 0;
}
.icone_date {
  display: flex;
  width: 40%;
}

.detail_article {
  width: 60%;
}

.date_lieu {
  width: 90%;
}

.icone {
  width: 10%;
}

section h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0;
}

section h2 {
  text-transform: uppercase;
  border-bottom: solid 1px #e84118;
  margin: 0;
  width: 90%;
}
section h4 {
  text-transform: uppercase;
}

.soulignement {
  padding-bottom: 10px;
  border-bottom: solid 1px #e84118;
}

section i {
  color: #e84118;
}
@media screen and (max-device-width: 812px) {
  body {
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  section {
    width: 95%;
    padding: 10px 10px 0 10px;
  }
  h1 {
    font-size: 0em;
  }

  .infos_article {
    text-align: center;
  }
  section h1 {
    font-size: 1.5em;
  }
  .big_icon {
    width: 20%;
    font-size: xx-large;
    margin: 0;
  }
  section h2 {
    width: 80%;
  }
}
