:root {
  --primary: #273c75;
  --secondary: #e84118;
  --tertiary: white;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  border: solid 1px black;
}

/* aside = partie gauche du CV */

aside {
  width: 30%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

#photo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profil_pic {
  border: solid 1px var(--tertiary);
  border-radius: 50%;
}

aside h2 {
  border-bottom: solid 1px var(--secondary);
  background-color: var(--tertiary);
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

aside p {
  color: var(--tertiary);
}

.cellule_aside {
  padding: 20px;
}
.lien {
  color: var(--tertiary);
}

#a_propos {
  flex: 3;
}

.icones_loisirs {
  display: flex;
  font-size: 200%;
  color: var(--tertiary);
  justify-content: space-between;
  padding: 40px;
}

/* section = partie droite du CV */

main {
  width: 70%;
  color: var(--primary);
  padding: 40px;
}

/* entete */

#entete {
  margin: 50px 0;
}

.first_name {
  color: var(--secondary);
}
.last_name {
  font-size: 1.5em;
}

.titre_article {
  display: flex;
  padding: 30px 0 0 0;
  border-bottom: solid 1px var(--secondary);
  margin-bottom: 15px;
}

.infos_article {
  display: flex;
}

.infos_article_reco {
  display: flex;
}
.reco_first {
  width: 50%;
}
.reco_second {
  width: 50%;
}

.big_icon {
  width: 7%;
  font-size: 1.7em;
  margin: 0;
}
.icone_date {
  display: flex;
  width: 40%;
}

.detail_article {
  width: 60%;
}

.date_lieu {
  width: 90%;
}

.icone {
  width: 10%;
}

main h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0;
}

main h2 {
  text-transform: uppercase;
  margin: 0;
  width: 93%;
}
main h3 {
  margin-top: 0;
}
main h4 {
  text-transform: uppercase;
}

.soulignement {
  border-bottom: solid 1px var(--secondary);
}

main i {
  color: var(--secondary);
}

/* MEDIA QUERIES */

@media screen and (min-width: 680px) and (max-width: 830px) {
  .profil_pic {
    width: 90%;
  }
  aside h2 {
    font-size: 1em;
  }
  .icones_loisirs {
    padding: 20px;
    font-size: 150%;
  }
  main {
    font-size: 0.8em;
  }
  #entete {
    margin-top: 0;
  }
  .big_icon {
    width: 10%;
  }
  .icone {
    width: 15%;
  }
}

@media screen and (max-width: 679px) {
  body {
    display: flex;
    flex-direction: column;
  }
  aside {
    font-size: 0.9em;
    width: 100%;
    background-color: var(--tertiary);
    order: 1;
  }
  #photo {
    display: none;
  }
  aside h2 {
    font-size: 1.1em;
    background-color: var(--tertiary);
    color: var(--primary);
    margin-bottom: 0;
    padding: 10px 10px 0 10px;
  }

  aside p {
    color: var(--primary);
  }

  main {
    width: 95%;
    padding: 10px 10px 0 10px;
    font-size: 0.9em;
    order: 0;
  }

  #entete {
    margin: 0;
    text-align: center;
  }

  h1 {
    font-size: 0em;
  }
  .infos_article {
    text-align: left;
  }
  main h1 {
    font-size: 1.5em;
    margin-top: 20px;
  }
  .big_icon {
    width: 13%;
    font-size: 1.5em;
    margin: 0;
  }
  main h2 {
    width: 87%;
    font-size: 1.1em;
  }
  .date_lieu {
    width: 80%;
    text-align: left;
  }
  .icone {
    width: 20%;
  }
  .icones_loisirs {
    color: var(--primary);
  }

  #a_propos {
    padding-top: 40px;
    order: 0;
  }
  #contact {
    order: 1;
    text-align: center;
  }
  #loisirs {
    order: 2;
  }
  .lien {
    color: var(--primary);
  }
}
